--
-- PostgreSQL database dump
--

\restrict emeeRsEdRGLhepxkDLESiALobm3DAX6VXXVtGwMnSuNKBWxaSSiLvwIbKw1NVZl

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: book_ticket_procedure(integer, integer); Type: PROCEDURE; Schema: public; Owner: postgres
--

CREATE PROCEDURE public.book_ticket_procedure(IN p_user_id integer, IN p_train_id integer)
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_seat_id INT;
BEGIN
    -- 1. Find ONE available seat and LOCK IT (Row-Level Locking)
    SELECT seat_id INTO v_seat_id
    FROM seats
    WHERE train_id = p_train_id AND is_booked = false
    LIMIT 1
    FOR UPDATE;

    -- 2. If no seat is found, abort and throw an error
    IF v_seat_id IS NULL THEN
        RAISE EXCEPTION 'Sold out! No seats left on train %', p_train_id;
    END IF;

    -- 3. Create the booking.
    -- NOTE: The Trigger we created above will automatically catch this INSERT
    -- and update the 'seats' table for us!
    INSERT INTO bookings (user_id, seat_id)
    VALUES (p_user_id, v_seat_id);

    -- 4. Save everything
    COMMIT;
END;
$$;


ALTER PROCEDURE public.book_ticket_procedure(IN p_user_id integer, IN p_train_id integer) OWNER TO postgres;

--
-- Name: update_seat_status(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_seat_status() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- If a new booking was just INSERTED
    IF TG_OP = 'INSERT' THEN
        -- "NEW" refers to the brand new row just added to the bookings table
        UPDATE seats SET is_booked = true WHERE seat_id = NEW.seat_id;
        RETURN NEW;
        
    -- If a booking was just CANCELLED (DELETED)
    ELSIF TG_OP = 'DELETE' THEN
        -- "OLD" refers to the row that was just removed from the bookings table
        UPDATE seats SET is_booked = false WHERE seat_id = OLD.seat_id;
        RETURN OLD;
    END IF;
    
    RETURN NULL;
END;
$$;


ALTER FUNCTION public.update_seat_status() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: bookings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bookings (
    booking_id integer NOT NULL,
    user_id integer NOT NULL,
    seat_id integer NOT NULL,
    transaction_timestamp timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.bookings OWNER TO postgres;

--
-- Name: bookings_booking_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.bookings_booking_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bookings_booking_id_seq OWNER TO postgres;

--
-- Name: bookings_booking_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.bookings_booking_id_seq OWNED BY public.bookings.booking_id;


--
-- Name: seats; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.seats (
    seat_id integer NOT NULL,
    train_id integer NOT NULL,
    seat_number character varying(100) NOT NULL,
    is_booked boolean DEFAULT false
);


ALTER TABLE public.seats OWNER TO postgres;

--
-- Name: seats_seat_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.seats_seat_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.seats_seat_id_seq OWNER TO postgres;

--
-- Name: seats_seat_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.seats_seat_id_seq OWNED BY public.seats.seat_id;


--
-- Name: trains; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.trains (
    train_id integer CONSTRAINT train_train_id_not_null NOT NULL,
    train_name character varying(100) CONSTRAINT train_train_name_not_null NOT NULL,
    source_station character varying(100) CONSTRAINT train_source_station_not_null NOT NULL,
    destination_station character varying(100) CONSTRAINT train_destination_station_not_null NOT NULL
);


ALTER TABLE public.trains OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id integer NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_user_id_seq OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_user_id_seq OWNED BY public.users.user_id;


--
-- Name: bookings booking_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookings ALTER COLUMN booking_id SET DEFAULT nextval('public.bookings_booking_id_seq'::regclass);


--
-- Name: seats seat_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.seats ALTER COLUMN seat_id SET DEFAULT nextval('public.seats_seat_id_seq'::regclass);


--
-- Name: users user_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN user_id SET DEFAULT nextval('public.users_user_id_seq'::regclass);


--
-- Data for Name: bookings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.bookings (booking_id, user_id, seat_id, transaction_timestamp) FROM stdin;
7	2	1	2026-06-24 12:26:05.5998
8	2	2	2026-06-24 12:26:06.588487
9	2	3	2026-06-24 12:26:07.663294
\.


--
-- Data for Name: seats; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.seats (seat_id, train_id, seat_number, is_booked) FROM stdin;
1	12773	12A	t
2	12773	13A	t
3	12773	14A	t
\.


--
-- Data for Name: trains; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.trains (train_id, train_name, source_station, destination_station) FROM stdin;
12773	salimar-secunderabad ac sf express	kharagpur	secunderabad
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (user_id, name, email) FROM stdin;
1	Dhanashyam	allugubellydhanashyamreddy@gmail.com
2	bunny	bunny@gmail.com
3	dhana	dhana@gmail.com
4	rama	rama@gmail.com
\.


--
-- Name: bookings_booking_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.bookings_booking_id_seq', 9, true);


--
-- Name: seats_seat_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.seats_seat_id_seq', 3, true);


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_id_seq', 3, true);


--
-- Name: bookings bookings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_pkey PRIMARY KEY (booking_id);


--
-- Name: seats seats_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.seats
    ADD CONSTRAINT seats_pkey PRIMARY KEY (seat_id);


--
-- Name: trains train_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trains
    ADD CONSTRAINT train_pkey PRIMARY KEY (train_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: idx_train_route; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_train_route ON public.trains USING btree (source_station, destination_station);


--
-- Name: bookings sync_seat_status; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER sync_seat_status AFTER INSERT OR DELETE ON public.bookings FOR EACH ROW EXECUTE FUNCTION public.update_seat_status();


--
-- Name: bookings bookings_seat_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_seat_id_fkey FOREIGN KEY (seat_id) REFERENCES public.seats(seat_id);


--
-- Name: bookings bookings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- Name: seats seats_train_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.seats
    ADD CONSTRAINT seats_train_id_fkey FOREIGN KEY (train_id) REFERENCES public.trains(train_id);


--
-- Name: TABLE bookings; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.bookings TO app_admin;
GRANT SELECT,INSERT,DELETE ON TABLE public.bookings TO app_customer;


--
-- Name: SEQUENCE bookings_booking_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,USAGE ON SEQUENCE public.bookings_booking_id_seq TO app_admin;
GRANT SELECT,USAGE ON SEQUENCE public.bookings_booking_id_seq TO app_customer;


--
-- Name: TABLE seats; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.seats TO app_admin;
GRANT SELECT,UPDATE ON TABLE public.seats TO app_customer;


--
-- Name: SEQUENCE seats_seat_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,USAGE ON SEQUENCE public.seats_seat_id_seq TO app_admin;
GRANT SELECT,USAGE ON SEQUENCE public.seats_seat_id_seq TO app_customer;


--
-- Name: TABLE trains; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.trains TO app_admin;
GRANT SELECT ON TABLE public.trains TO app_customer;


--
-- Name: SEQUENCE users_user_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT SELECT,USAGE ON SEQUENCE public.users_user_id_seq TO app_admin;
GRANT SELECT,USAGE ON SEQUENCE public.users_user_id_seq TO app_customer;


--
-- PostgreSQL database dump complete
--

\unrestrict emeeRsEdRGLhepxkDLESiALobm3DAX6VXXVtGwMnSuNKBWxaSSiLvwIbKw1NVZl

